<%- include ('./header.ejs') -%>
<main>
    <div class="content">
        <h3>Add New Patient</h3>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Patient</button>
        <form class="hospital-form" method="POST" action="/addNewPatient">
            <label for="ohip-number">Health Card Number</label>
            <input type="text" id="ohip-number" name="ohip-number" value="<%= health_number%>"  required >

            <label for="first-name">First Name</label>
            <input type="text" id="first_name" name="first_name" >

            <label for="last-name">Last Name</label>
            <input type="text" id="last_name" name="last_name">

            <label>Date of birth
            <input type="date" id="dateof_birth" name="dateof_birth">
            </label>

            <label for="gender">Gender</label>
            <input type="text" id="gender" name="gender" >

            <label for="email">Email</label>
            <input type="text" id="email" name="email">

            <label for="mobile">Mobile</label>
            <input type="text" id="phone_number" name="phone_number">

            <label for="address">Address</label>
            <input type="text" id="address" name="address">

            <input type="submit" value="Submit" id="submit_btn">    
        </form>                   
    </div>
</main>

<!--Footer-->
<footer>copyright&copy;Hope Clinic 2020</footer>
</body>

</html>