<%- include ('./adminHeader.ejs') -%>

<div class="container">
        <h3>Delete User</h3>
        <form class="form-inline" method="POST" action="/admin/searchUser">
            <div class="form-group mx-sm-0 mb-2">
                <label for="username" class="sr-only">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
        
        <form method="POST" action="/admin/deleteUsers">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="<%= users.username %>" readonly>
    
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= users.email %>" readonly>


            <input type="submit" class="btn btn-danger" value="Delete" id="submit_btn">
        </form>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>