<%- include ('./adminHeader.ejs') -%>

<div class="container">
    <% if (message) { %>
    <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3>Add New Doctor</h3>
    <!-- This div is linked to the sidebar - add new patient -->
    <form method="POST" action="/admin/addNewDoctor">
        <label for="doctorId">Doctor ID</label>
        <input type="text" class="form-control" id="doctorId" name="doctorId" maxlength="5" required>

        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required>

        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>

        <label for="specialization">Specialization</label>
        <input type="text" class="form-control" id="specialization" name="specialization" required>

        <label for="department">Department</label>
        <input type="text" class="form-control" id="department" name="department" required>

        <input type="submit" class="btn btn-primary" value="Submit" id="submit_btn">
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>