<%- include ('./header.ejs') -%>
<main>
    <div class="content">
                      
        <h3>Appointment</h3>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Schedule Appointment</button>
        <!-- <input type="submit" value="Schedule Appointment" id="appointment_btn"></div> -->
       </nav>
        <form class="hospital-form">
            <label for="ohip-number">Health Card Number</label>
            <input type="text" id="ohip-number">

            <label for="first-name">First Name</label>
            <input type="text" id="first-name">

            <label for="last-name">Last Name</label>
            <input type="text" id="last-name">

            <label for="age">Age</label>
            <input type="text" id="age">

            <label for="gender">Gender</label>
            <input type="text" id="gender">

            <label for="email">Email</label>
            <input type="text" id="email">

            <label for="mobile">Mobile</label>
            <input type="text" id="mobile">

            <label for="address">Address</label>
            <input type="text" id="address">

            <label>Date and Time
            <input type="datetime-local" name="appointment_time">
            </label>

            <label>Referred to Doctor
            <select id="referred-doctor" name="referred-doctor">
            <option value="" selected="selected">Select </option>
            <option value="doctor_1" >Dr. Mike Johns</option>
            <option value="doctor_2" >Dr. George Jones</option>
            <option value="doctor_3" >Dr. Ann Dorathy</option>
            </select>
            </label> 
           
            <label for="reason">Reason of Visit</label>
            <textarea id="reason"></textarea>

            <input type="submit" value="Save" id="submit_btn">    
        </form>         

    </div>
</main>

<!--Footer-->
<footer>copyright&copy;Hope Clinic 2020</footer>
</body>

</html>