<%- include ('./header.ejs') -%>
<main>
    <div class="content">
                      
        <h3>Doctor Diagnosis</h3>
             
        <form class="hospital-form">

            <label for="doctor-id">Doctor Id</label>
            <input type="text" id="doctor-id">

            <label for="ohip">OHIP</label>
            <input type="text" id="ohip">

            <label for="diagnosis">Diagnosis</label>
            <textarea id="diagnosis"></textarea>

            <label for="labresult">Lab Result</label>
            <textarea id="labresult"></textarea>

            <label for="prescription">Prescription</label>
            <textarea id="prescription"></textarea>
          
            <input type="submit" value="Save" id="submit_btn">    
        </form>         

    </div>
</main>

<!--Footer-->
<footer>copyright&copy;Hope Clinic 2020</footer>
</body>

</html>