<%- include ('./header.ejs') -%>
<main>
    <div class="content">
                      
        <h3>Doctor Observation</h3>
             
        <form class="hospital-form" method="POST" action="/AddDiagnosis">

            <label for="doctor-id">Doctor Id</label>
            <input type="text" id="doctor_id" name="doctor_id">

            <label for="ohip">OHIP</label>
            <input type="text" id="ohip" name="ohip">

            <label for="diagnosis">Diagnosis</label>
            <textarea id="diagnosis" name="diagnosis"></textarea>

            <label for="labresult">Lab Result</label>
            <textarea id="lab_result" name="lab_result"></textarea>

            <label for="prescription">Prescription</label>
            <textarea id="prescription" name="prescription"></textarea>
          
            <input type="submit" value="Save" id="submit_btn">    
        </form>         

    </div>
</main>

<!--Footer-->
<footer>copyright&copy;Hope Clinic 2020</footer>
</body>

</html>