<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EMR Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/public/css/mainpagestyle.css">
    <link rel="stylesheet" href="/public/css/stylesheet.css">
</head>

<body>
    <!--Header-->
    <header>
        <div class="left_area">
            <a href="#"></a>
            <h3>Hope <span>Clinic</span></h3>
        </div>
        <div class="right_area">
            <a href="#" class="logout_btn">Logout</a>
        </div>
    </header>
    <!--Sidemenu-->
    <div class="sidebar">
        <img src="/public/assets/image1.png" class="logo" alt="doctor symbol">

        <!-- Search form -->

        <form class="form-inline" action="/searchPatient" method="POST">
            <input class="form-control form-control-sm mr-3 w-75" maxlength="9" type="text" id="health_number" name="health_number" placeholder="Search - OHIP"
                aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
        </form>

        <a href="/mainpage"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="/viewSearchPatient"><i class="fas fa-user"></i><span>Patient</span></a>
        <a href="/viewdoctor"><i class="fas fa-stethoscope"></i><span>Doctor</span></a>
        <a href="/viewAppointment"><i class="far fa-calendar-alt"></i></i><span>Appointment</span></a>
      <!--  <a href="/laboratory"><i class="fas fa-microscope"></i><span>Laboratory</span></a>
        <a href="/medicalrecords"><i class="fas fa-file-medical"></i><span>Medical Records</span></a>-->
        <a href="/viewBills"><i class="fas fa-file-invoice-dollar"></i><span>Billing</span></a>
    </div>
