<%- include ('./header.ejs') -%>
    <div class="content"></div>
    <section class="features"> 
        <figure>
                                
            <a href="/patient"><img src="/public/assets/user.jpg" alt="patient image">
            <figcaption><a href="/patient">Patient Details</a></figcaption>
        </figure>
        <figure>
            <a href="doctor.html"><img src="/public/assets/doctor.jpg" alt="doctor image">
            <figcaption><a href="doctor.html">Doctor Details</a></figcaption>
        </figure>
        <figure>
            <a href="/viewAppointment"><img src="/public/assets/appointment.png" alt="appointment image">
            <figcaption><a href="/viewAppointment">Appointment</a></figcaption>
        </figure>
        <figure>
            <a href="/viewBillingAccounts"><img src="/public/assets/billing.jpg" alt="billing">
            <figcaption><a href="/viewBillingAccounts">Billing</a></figcaption>
        </figure>

    </section>
    <!--Footer-->
    <footer>copyright&copy;Hope Clinic 2020</footer>
    
</body>

</html>