<%- include ('./header.ejs') -%>
    <div class="content"></div>
    <section class="features"> 
        <figure>                   
            <a href="/viewSearchPatient"><img src="/public/assets/user.jpg" alt="patient image">
            <figcaption><a href="/viewSearchPatient">Patient</a></figcaption>
        </figure>
        <figure>
            <a href="/viewDoctors"><img src="/public/assets/doctor.jpg" alt="doctor image">
            <figcaption><a href="/viewDoctors">Doctor</a></figcaption>
        </figure>
        <figure>
            <a href="/viewAddDiagnosis"><img src="/public/assets/prescription.png" alt="prescription image">
            <figcaption><a href="/viewAddDiagnosis">Doctor Observation</a></figcaption>
        </figure>
        <figure>
            <a href="/viewAppointment"><img src="/public/assets/appointment.png" alt="appointment image">
            <figcaption><a href="/viewAppointment">Appointment</a></figcaption>
        </figure>
        <figure>
            <a href="/viewBills"><img src="/public/assets/billing.jpg" alt="billing">
            <figcaption><a href="/viewBills">Billing</a></figcaption>
        </figure>

    </section>
    <!--Footer-->
    <footer>copyright&copy;Hope Clinic 2020</footer>
    
</body>

</html>