<%- include ('./header.ejs') -%>
    <div class="content"></div>
    <section class="features"> 
        <figure>
                                
            <a href="/patient"><img src="/public/assets/user.jpg" alt="patient image">
            <figcaption><a href="/patient">Patient Details</a></figcaption>
        </figure>
        <figure>
            <a href="doctor.html"><img src="/public/assets/doctor.jpg" alt="doctor image">
            <figcaption><a href="doctor.html">Doctor Details</a></figcaption>
        </figure>
        <figure>
            <a href="appointment.html"><img src="/public/assets/appointment.png" alt="appointment image">
            <figcaption><a href="appointment.html">Appointment</a></figcaption>
        </figure>
        <figure>
            <a href="laboratory.html"><img src="/public/assets/laboratory.jpg" alt="laboratory image">
            <figcaption><a href="laboratory.html">Laboratory</a></figcaption>
        </figure>
        <figure>
            <a href="medicalrecords.html"><img src="/public/assets/medicalrecord.jpg" alt="medical record">
            <figcaption><a href="medicalrecords.html">Medical Records</a></figcaption>
        </figure>
        <figure>
            <a href="/viewBillingAccounts"><img src="/public/assets/billing.jpg" alt="billing">
            <figcaption><a href="billing.html">Billing</a></figcaption>
        </figure>

    </section>
    <!--Footer-->
    <footer>copyright&copy;Hope Clinic 2020</footer>
    
</body>

</html>